<nav
  class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

  <!-- Logo -->
  <a href="/" class="pa3 db mr4 h-100 flex-none">
    <img src="/img/logo-32x32.png" alt="Kaldi logo" class="br0 db mb0" />
  </a>

  <!-- Primary Nav -->
  <ul class="flex b grey-3">
    <li><a href="/team" class="w3 pv3 no-underline db">チーム</a></li>
    <li><a href="/post" class="w3 pv3 no-underline db">記事</a></li>
    <li><a href="/activities" class="w3 pv3 no-underline db">活動</a></li>
    <li><a href="/links" class="w3 pv3 no-underline db">リンク</a></li>
  </ul>
</nav>
