{{/*
  Requied frontmatter param: photo_gallery

  Examples

      # In the frontmatter
      photo_gallery:
        - /images/2016-01-17--01.jpg
        - /images/2016-01-17--02.jpg

      photo_gallery:
        - title: Nice Photos
          description: Amet velit id adipisicing officia elit eiusmod anim cillum adipisicing.
          images:
            - /images/2016-01-17--01.jpg
            - /images/2016-01-17--02.jpg

      # in the template
      {{ partial "photo-gallery.html" . }}
  */}}

{{ with $.Page.Params.photo_gallery }}
  {{ $hasMultipleSections := eq (printf "%T" $.Page.Params.photo_gallery) "[]interface {}" }}
  {{ if $hasMultipleSections }}
    {{ range . }}
      <h2>{{ .title }}</h2>
      <p>{{ .description }}</p>
      <div class="flex flex-wrap justify-between">
        {{ range .images }}
          <div class="w-100 w-50-ns pa1-ns">
            <img src="{{ . }}">
          </div>
        {{ end }}
      </div>
    {{ end }}
  {{ else }}
    <div class="flex flex-wrap justify-around">
      {{ range . }}
        <div class="w-100 w-50-ns pa1-ns">
          <img src="{{ . }}">
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
