{{/*
  Scope: schedule data for a given team
  */}}

<div class="overflow-auto mv2">
  <table style="width:100%">
    <thead>
      <tr>
        <th class="f6 fw6 pa2 bb b--black-20 tl" style="min-width:80px">チーム</th>
        <th class="f6 fw6 pa2 bb b--black-20 tl" style="min-width:120px">日　付</th>
        <th class="f6 fw6 pa2 bb b--black-20 tl" style="min-width:150px">時　間</th>
        <th class="f6 fw6 pa2 bb b--black-20 tl" style="min-width:150px">内　容</th>
        <th class="f6 fw6 pa2 bb b--black-20 tl" style="min-width:150px">場　所</th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
        <td class="f6 pa2 bb b--black-20">{{ .team }}</td>
        <td class="f6 pa2 bb b--black-20">{{ partial "date.html" .date }}</td>
        <td class="f6 pa2 bb b--black-20">{{ .time }}</td>
        <td class="f6 pa2 bb b--black-20">{{ .description }}</td>
        <td class="f6 pa2 bb b--black-20">
          {{ if .location_url }}
            <a href=" {{ .location_url }}"> {{ .location_text }}</a>
          {{ else }}
            {{ .location_text }}
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
