{{ $.Scratch.Add "fieldsetClasses" "bn" }}
{{ $.Scratch.Add "labelClasses" "f5 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "nameInputClasses" "f5 pv1 ph3 bg-light-gray bn h2" }}
{{ $.Scratch.Add "textInputClasses" "w-100 f5 pv1 ph3 bg-light-gray bn h2" }}
{{ $.Scratch.Add "textareaClasses" "w-100 f5 pv3 ph3 bg-light-gray bn h4" }}

<form accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">
  <fieldset class="{{ $.Scratch.Get "fieldsetClasses" }}">
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="name">{{ i18n "yourName" }}</label>
    <div class="flex-ns">
      <div>
        <span class="f5">姓</span>: <input name='sei' type='text' maxlength='25' value=''
          class="{{ $.Scratch.Get "nameInputClasses" }}">
      </div>
      <div>
        <span class="f5">名</span>: <input name='mei' type='text' maxlength='25' value=''
          class="{{ $.Scratch.Get "nameInputClasses" }}">
      </div>
    </div>
  </fieldset>

  <fieldset class="{{ $.Scratch.Get "fieldsetClasses" }}">
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="name">ふりがな</label>
    <div class="flex-ns">
      <div>
        <span class="f5">姓</span>: <input name='kana_sei' type='text' maxlength='25' value=''
          class="{{ $.Scratch.Get "nameInputClasses" }}">
      </div>
      <div>
        <span class="f5">名</span>: <input name='kana_mei' type='text' maxlength='25' value=''
          class="{{ $.Scratch.Get "nameInputClasses" }}">
      </div>
    </div>
  </fieldset>

  <fieldset class="{{ $.Scratch.Get "fieldsetClasses" }}">
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="name">{{ i18n "emailAddress" }}</label>
    <input name='mail' type='text' maxlength='100' value='' class="{{ $.Scratch.Get "textInputClasses" }}">
  </fieldset>

  <fieldset class="{{ $.Scratch.Get "fieldsetClasses" }}">
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="tel">ＴＥＬ</label>
    <input name='tel' type='text' maxlength='20' value='' placeholder="例）123-456-7890"
      class="{{ $.Scratch.Get "textInputClasses" }}">
  </fieldset>

  <fieldset class="{{ $.Scratch.Get "fieldsetClasses" }}">
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="school">学校名</label>
    <input name='school' type='text' maxlength='50' value='' class="{{ $.Scratch.Get "textInputClasses" }}">
  </fieldset>

  <fieldset class="{{ $.Scratch.Get "fieldsetClasses" }}">
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="grade">学　年</label>
    <input name='grade' type='text' maxlength='50' value='' class="{{ $.Scratch.Get "textInputClasses" }}">
  </fieldset>

  <fieldset class="{{ $.Scratch.Get "fieldsetClasses" }}">
    <label class="{{ $.Scratch.Get "labelClasses" }}" for="text1">{{ i18n "message" }}</label>
    <textarea id="text1" name="text1" class="{{ $.Scratch.Get "textareaClasses" }}" aria-labelledby="text1"></textarea>
  </fieldset>

  <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-black bg-animate bg-black" name='Submit1' type='submit'
    value="{{ i18n "send" }}" />
</form>
