{{/*
Required locals:
- scores_a: comma-separated string
- scores_b: comma-separated string
- team_a: string
- team_b: string
  */}}

{{ $scores_a := split (.Get "scores_a") "," }}
{{ $scores_b := split (.Get "scores_b") "," }}
{{ $team_a := .Get "team_a" }}
{{ $team_b := .Get "team_b" }}

<table class="f6 mw8 center" cellspacing="0" border="1">
  <thead>
    <tr>
      <th class="tc pa2">チーム</th>
      {{ range $index, $element := $scores_a }}
        {{ $inning := add $index 1 }}
        {{ if lt $inning (len $scores_a) }}
          <th class="tc pa2">{{ $inning }}</th>
        {{ end }}
      {{ end }}
      <th class="tc pa2">計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tc pa2">{{ $team_a }}</td>
      {{ range $scores_a }}
        <td class="tc pa2">{{ . }}</td>
      {{ end }}
    </tr>
    <tr>
      <td class="tc pa2">{{ $team_b }}</td>
      {{ range $scores_b }}
        <td class="tc pa2">{{ . }}</td>
      {{ end }}
    </tr>
  </tbody>
</table>
