/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */

/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

html, body {
  min-height: 100vh;
}

main {
  min-height: 80vh;
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover,
  & ul a:focus,
  & ul a[aria-current='true'] {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

/*
  We want to secure height for image so we can avoid text content jumping around while image is loading.
  desktop: 1056x792
  mobile:  ~400x~300
 */
.mn-ProgressiveImage {
  display: block;
  min-height: 300px;
}
