@import './reset';
@import './tachyons';
@import './colors';
@import './typography';
@import './states';
@import './buttons';
@import './svg';
@import './cms';
@import '~progressive-image/progressive-image';

/* Importing here will allow you to override any variables in the modules */
@import './variables';

html,
body {
  min-height: 100vh;
}

main {
  min-height: 80vh;
}

/*
  We want to secure height for image so we can avoid text content jumping around while image is loading.
  desktop: 1056x792
  mobile:  ~360x~270
 */
.mn-ProgressiveImage {
  display: block;
  min-height: 270px;
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover,
  & ul a:focus,
  & ul a[aria-current='true'] {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

// Progressive image's preview needs to be 100% wide in case JS is disabled.
img.preview {
  width: 100%;
}
