{{ define "main" }}

<main>
  <div class="center mw7">
    <div class="bg-center cover"
      style="background-image:url('{{.Params.image}}');min-height:70vh;max-height:500px">
    </div>
    {{ with .Params.banner }}<marquee class="navy h2 f4 mt2">{{ . }}</marquee>{{ end }}
  </div>

  {{ with .Params.blurb }}
    <div class="bg-grey-1 pv4">
      <div class="ph3 center mw7">
        {{ if .heading }}<h1 class="f2">{{.heading}}</h1>{{ end }}
        <p class=" mw-100">{{.text}}</p>
        {{ if .gm_image }}
          <figure>
            {{ partial "progressive-image.html" (dict "context" . "src" .gm_image "alt" .gm_name ) }}
            <div class="pt1">
              <p class="gray">
                代表　{{ .gm_name }}
              </p>
            </div>
          </figure>
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{ with .Params.schedule }}
    <div class="pv4">
      <div class="ph3 center mw7">
        <h2 class="f3 b lh-title">予定表</h2>
        {{ partial "schedule-table" . }}
      </div>
    </div>
  {{ end }}

  {{ with .Params.info }}
    <div class="bg-highlight pv4">
      <div class="ph3 center mw7">
        <div class="flex-l mhn2-l">
          <div class="pr2">
            <h2 class="f2 lh-title mb2">{{.heading}}</h2>
            <p>{{.text}}</p>
          </div>
          {{ if .image }}
            {{ partial "progressive-image.html" (dict "context" . "src" .image "alt" .heading ) }}
          {{ end }}
        </div>
        {{ if .link_text }}<a href="{{ .link_url }}" class="btn raise mt3">{{ .link_text }}</a>{{ end }}
      </div>
    </div>
  {{ end }}

  <div class="bg-grey-1 pv4">
    <div class="ph3 center mw7 cms">
      {{ .Content }}
    </div>
  </div>

  {{ partial "blog" . }}
</main>

{{ end }}
