{{ define "main" }}
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title mb3">{{.Title}}</h1>

    <div class="mw6">
      <p>{{ .Description }}</p>

      {{ if .Params.image }}
        <figure class="mb3">
          {{ partial "progressive-image.html" (dict "context" . "src" .Params.image "alt" .Title) }}
        </figure>
      {{ end }}

      <div class="cms">
        {{ .Content }}
      </div>

      {{ partial "team-instructors" . }}

      {{ partial "team-players" . }}
    </div>
  </div>
{{ end }}
